spring.application.name=platform-rental-barang

#Database
spring.datasource.url=jdbc:mysql://localhost:3306/platform_rental_barang?serverTimezone=Asia/Jakarta
spring.datasource.username=root
spring.datasource.password=
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver

#Hibernate
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true

#JWT
jwt.secret=YOUR_JWT_SECRET_HERE

#GeoapifyAPI
geoapify.api.key=YOUR_GEOAPIFY_KEY

#Cloudinary
cloudinary.cloud_name=YOUR_CLOUD_NAME
cloudinary.api_key=YOUR_API_KEY
cloudinary.api_secret=YOUR_API_SECRET

#Midtrans
midtrans.server-key=YOUR_MIDTRANS_SERVER_KEY
midtrans.client-key=YOUR_MIDTRANS_CLIENT_KEY
midtrans.is-production=false